 <div class="lista-de_envios">
    <h2>MI PERFIL</h2>
</div>
    <div class="graybg-perfil">
        <div class="container perfil">
            <!-- Example row of columns -->
            <div class="row">

                <div class="col-md-12 text-center">

                    <div class="photo-perfil"></div>

                    <div class="col-md-12 boxed text-center">
                        <input class="form-control" type="text" value="Juan Eduardo Hernandez" placeholder="Nombre de usuario">
                        <div class="label-text">Nombre</div>
                    </div>

                    <div class="col-md-12 fecha">
                        <div class="row">

                            <div class="col-md-3 boxed text-center"></div>

                            <div class="col-md-3 boxed text-center">
                                <input class="form-control" type="text" value="12 / 09 / 18" placeholder="Fecha de envío">
                                <div class="label-text">Miembro desde</div>
                            </div>

                            <div class="col-md-3 boxed text-center">
                                <input class="form-control" type="text" value="12 / 09 / 18" placeholder="Fecha de entrega">
                                <div class="label-text">Total de envíos</div>
                            </div>

                            <div class="col-md-3 boxed text-center"></div>
                        </div>
                    </div>

                </div>

                <div class="separador"></div>

                <div class="multiuser">
                    <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3 coint text-right">Multiusuario</div>
                                    <div class="col-md-7 coint">
                                        <div class="mini-photo-perfil">
                                            <a href="#" class="edit"></a>
                                            <a href="#" class="delete"></a>
                                        </div>
                                        <div class="mini-photo-perfil">
                                            <a href="#" class="edit"></a>
                                            <a href="#" class="delete"></a>
                                        </div>
                                        <div class="mini-photo-perfil">
                                            <a href="#" class="edit"></a>
                                            <a href="#" class="delete"></a>
                                        </div>
                                        <div class="mini-photo-perfil">
                                            <a href="#" class="edit"></a>
                                            <a href="#" class="delete"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 coint">
                                        <a href="#" class="mini-photo-perfil-add"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="multiuser">
                    <h1>* CALIFICACIONES RECIBIDAS / CALIFICACIONES OTORGADAS</h1>

                    <div class="separador"></div>
                    <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12 boxed text-center">
                                    <input class="form-control" type="text" value="Raúl Torres Castillo" placeholder="Nombre">
                                    <div class="label-text">Nombre</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="stars">
                                        <!--<div class="acidjs-rating-stars">
                                            <form>
                                                <input type="radio" name="group-1" id="group-1-0" value="5" /><label for="group-1-0"></label>
                                            <input type="radio" name="group-1" id="group-1-1" value="4" /><label for="group-1-1"></label>                                            --><input type="radio" name="group-1" id="group-1-2" value="3" /><label for="group-1-2"></label><!--
                                            <input type="radio" name="group-1" id="group-1-3" value="2" /><label for="group-1-3"></label>
                                            <input type="radio" name="group-1" id="group-1-4"  value="1" /><label for="group-1-4"></label>
                                            </form>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="multiuser">
                    <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12 boxed text-center">
                                    <input class="form-control" type="text" value="Raúl Torres Castillo" placeholder="Nombre">
                                    <div class="label-text">Nombre</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="stars">
                                        <!--<div class="acidjs-rating-stars">
                                            <form>
                                                <input type="radio" name="group-2" id="group-2-0" value="5" /><label for="group-1-0"></label>
                                                <input type="radio" name="group-2" id="group-2-1" value="4" /><label for="group-1-1"></label>
                                                <input type="radio" name="group-2" id="group-2-2" value="3" /><label for="group-1-2"></label>
                                                <input type="radio" name="group-2" id="group-2-3" value="2" /><label for="group-1-3"></label>
                                                <input type="radio" name="group-2" id="group-2-4"  value="1" /><label for="group-1-4"></label>
                                            </form>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="multiuser">
                    <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12 boxed text-center">
                                    <input class="form-control" type="text" value="Raúl Torres Castillo" placeholder="Nombre">
                                    <div class="label-text">Nombre</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="stars">
                                        <!--<div class="acidjs-rating-stars">
                                            <form>
                                                <input type="radio" name="group-1" id="group-1-0" value="5" /><label for="group-1-0"></label>
                                                <input type="radio" name="group-1" id="group-1-1" value="4" /><label for="group-1-1"></label>
                                                <input type="radio" name="group-1" id="group-1-2" value="3" /><label for="group-1-2"></label>
                                                <input type="radio" name="group-1" id="group-1-3" value="2" /><label for="group-1-3"></label>
                                                <input type="radio" name="group-1" id="group-1-4"  value="1" /><label for="group-1-4"></label>
                                            </form>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="multiuser">
                    <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12 boxed text-center">
                                    <input class="form-control" type="text" value="Raúl Torres Castillo" placeholder="Nombre">
                                    <div class="label-text">Nombre</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="stars">
                                        <!--<div class="acidjs-rating-stars">
                                            <form>
                                                <input type="radio" name="group-1" id="group-1-0" value="5" /><label for="group-1-0"></label>
                                                <input type="radio" name="group-1" id="group-1-1" value="4" /><label for="group-1-1"></label>
                                                <input type="radio" name="group-1" id="group-1-2" value="3" /><label for="group-1-2"></label>
                                                <input type="radio" name="group-1" id="group-1-3" value="2" /><label for="group-1-3"></label>
                                                <input type="radio" name="group-1" id="group-1-4"  value="1" /><label for="group-1-4"></label>
                                            </form>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- /container -->

    <div class="separador"></div>