<!--<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">{{this.tokenService.user.nombre}}</strong> </span>
                        <span class="text-muted text-xs block">{{this.tokenService.user.razon_social}} <br>
                    </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a  href="/cliente/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    TK
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('mainView')}">
                <a [routerLink]="['/mainView']"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
            </li>

            <li class="">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Configuracion</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
                    <li class=""><a href="cliente/user">Editar Usuario</a></li>
                    <li class=""><a href="cliente/invited">Invitar Usuario</a></li>

                </ul>
            </li>


            <li [ngClass]="{active: activeRoute('minorView')}">
                <a [routerLink]="['/minorView']"><i class="fa fa-desktop"></i> <span class="nav-label">Minor view</span> </a>
            </li>
            <li>
                <a [routerLink]="['/login']"><i class="fa fa-sign-in"></i> <span class="nav-label">Login</span> </a>
            </li>
            <li>
                <a [routerLink]="['/register']"><i class="fa fa-pencil"></i> <span class="nav-label">Register</span> </a>
            </li>
        </ul>

    </div>
</nav>-->
